@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontMontserrat: "Montserrat", sans-serif;

$primeColor: rgba(215, 26, 33, 1);
$lightGray: rgba(243, 243, 243, 1);
$gray:rgba(231, 230, 230, 1);
$eyeIcon: rgba(68, 68, 68, 1);
$blue: rgba(100, 134, 253, 1);
$fontColor: rgba(64, 48, 48, 1);
$white:rgba(255, 255, 255, 1);