

.full_width{
    width: 100%;
    height: 100vh;
}

.loginSigninBtn{
    width: 100%;
    height: 56px;
    background-color: rgba(215, 26, 33, 1);
  
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Montserrat", sans-serif;
    cursor: pointer;
}

.loginSigninBtn:hover{
    background-color: rgb(179, 5, 11);
   
}

.only_flex{
    display: flex;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex_top{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.flex_bottom{
    display: flex;
    align-items: end;
    justify-content: center;
}

.flex_top_left{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.flex_top_right{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.flex_bottom_left{
    display: flex;
    align-items: end;
    justify-content: flex-start;
}
.flex_bottom_right{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.flex_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_center_alignment{
    display: flex;
    align-items: center;
}