@use '../../global_style/index' as v;
.main{
    width: 1135px;
    height: 850px;
    font-family: v.$fontMontserrat;
    .part1{
        width: 100%;
        height: 113px;
        .part1_container{
            width: 745px;
            height: 100%;
            .titleBtn{
                background-color: v.$white;
                width: 243px;
                height: 72px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                color: v.$fontGrayColor;
            }
            // .titleBtn:hover{
            //     background-color: v.$primeColor;
            //     color: white;
            // }
            .active{
                background-color: v.$primeColor;
                color: white;
            }
        }
    }
}